* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.body-contactanos {
    background: rgb(255,246,174) center no-repeat;
    background: linear-gradient(90deg, rgba(255,246,174,1) 0%, rgba(255,170,248,1) 100%) center no-repeat;
    width: 100%;
    height: 100vh;
}

.contenido-contactanos {
    width: 100%;
    height: calc(100vh - 141px);
    position: relative;
}

.contactanos {
    position: absolute;
    width: 100%; /* Asegúrate de que ocupe el 100% del ancho */
}

.redes {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0px 0 40px 0px;
}

h4 {
    padding: 20px 0;
}

.video-contactanos {
    max-width: 30rem;
    margin: auto;
}

/* Estilos para el iframe */
.video-contactanos iframe {
    width: 100%; /* Hacer que el iframe ocupe el 100% del contenedor */
    height: 300px; /* Ajusta la altura según sea necesario */
    aspect-ratio: 16 / 9; /* Mantener la relación de aspecto */
}

/* Media query para pantallas menores a 810px */
@media (max-width: 810px) {
    .video-contactanos {
        margin-top: 20px; /* Espaciado superior para el iframe */
    }
}
/* Media Query para pantallas de 810px o menos */
@media (max-width: 810px) {
    .contactanos {
        position: relative; /* Cambiado a relative para que el video se coloque debajo del texto */
        padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
    }

    .video-contactanos {
        margin-top: 20px; /* Espacio entre el texto y el video */
    }

    .video-contactanos iframe {
        position: relative; /* Cambiado a relative para que se ajuste correctamente */
        top: 0; /* Se elimina el top fijo */
        left: 0; /* Se elimina el left fijo */
        width: 100%; /* El iframe ocupará el 100% de su contenedor */
        height: auto; /* Mantiene la relación de aspecto */
    }
}

@media(max-width:1200px) {
    .video-contactanos iframe {
        left: 500px;
        top: 20px;
    }
}

@media(max-width:920px) {
    .video-contactanos iframe {
        left: 400px;
        top: 20px;
    }
}
