* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.body-contactanos {
    background: rgb(255,246,174) no-repeat center;
    background: linear-gradient(90deg, rgba(255,246,174,1) 0%, rgba(255,170,248,1) 100%) no-repeat center center;
    width: 100%;
    height: 100vh;

}

.contenido-contactanos {
    width: 100%;
    height: calc(100vh - 141px);
    position: relative;
}

.contactanos {
    position: absolute;
}
.video-contactanos iframe {
    position: absolute;
    top: 90px;
    left: 600px;
    width: 100%;
    width: 400px;
    height: 300px;
    aspect-ratio: 16/9;
}

.video-contactanos {
    max-width: 30rem;
    margin: auto;
}
.redes {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0px 0 40px 0px;
}
h4 {
    padding: 20px 5px 20px 0;

}

i {
    cursor: default;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 15px 15px 0;
}


@media(max-width:810px) {
    .video-contactanos iframe {
        position: relative;
        left: 100px;
        top: 20px;
        height: 100px;
        width: 150px;
    }
    .body-contactanos {
        width: 100%;
        height: 100vh;
    }
}

@media(max-width:1200px) {
    .video-contactanos iframe {
        left: 500px;
        top: 20px;
    }
}

@media(max-width:920px) {
    .video-contactanos iframe {
        left: 400px;
        top: 20px;
    }
}
