* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.body-contactanos {
    background: rgb(255, 246, 174) center no-repeat;
    background: linear-gradient(90deg, rgba(255, 246, 174, 1) 0%, rgba(255, 170, 248, 1) 100%) center no-repeat;
}

.contenido-contactanos {
    padding: 20px;
}

.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes {
    margin-bottom: 20px;
}

.redes h4 {
    margin: 10px 0;
}

.video-contactanos {
    width: 100%;
    max-width: 600px; /* Limitar el ancho máximo del iframe */
}

.video-contactanos iframe {
    width: 100%;
    height: 315px; /* Altura del iframe */
}

footer {

    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
}

.footer-content {
    display: flex; /* Usar flexbox para alinear elementos */
    flex-direction: column; /* Colocar elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
}

.footer-content p {
    margin-bottom: 10px; /* Espacio entre el texto y el botón */
}
#localizacion {
    background: rgb(255, 246, 174); /* Color de fondo */
    color: rgb(0, 0, 0); /* Color del texto */
    border: none; /* Eliminar bordes */
    padding: 5px 10px; /* Espacio interno */
    border-radius: 5px; /* Radio de bordes */
    cursor: pointer;
}

#localizacion:hover {
    background: rgba(255,255,255,0.8); /* Color de fondo al pasar el ratón */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
.redes a {
    text-decoration: none;
    color: #000;
 }

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .contactanos {
        flex-direction: column; /* Cambiar a columna en móviles */
        align-items: center; /* Centrar elementos */
    }

    .video-contactanos {
        margin-top: 20px; /* Espacio entre textos y iframe */
    }
    .body-contactanos {
        height: 100vh;
    }
}

@media(max-width:1200px) {
    .video-contactanos iframe {
        left: 500px;
        top: 20px;
    }
    .body-contactanos {
        height: 100vh;
    }
}

@media(max-width:920px) {
    .video-contactanos iframe {
        left: 400px;
        top: 20px;
    }
    .body-contactanos {
        height: 100vh;
    }
}

@media(max-width:1520px) {
    
    .body-contactanos {
        min-height: 100vh;
    }
}


@media(max-width:1820px) {
    
    .body-contactanos {
        min-height: 100vh;
    }
}

@media(max-width:2150px) {
    
    .body-contactanos {
        min-height: 100vh;
    }
}