* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
nav {
    background-color: #f5f5dc;
    height: 100px;
    width: 100%;
}
.logo {
    width: 100px;
    height: 70px;
}
.enlace {
    position: absolute;
    padding: 15px 50px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
}

nav ul li a {
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
}

li a.active, li a:hover {
    background: wheat;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.section-index{
    background: rgb(255,246,174) no-repeat center;
    background: linear-gradient(90deg, rgba(255,246,174,1) 0%, rgba(255,170,248,1) 100%) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1800px;
    min-width: 50vw;
}

.slider-wrapper{
    overflow: hidden;
    margin: 0 70px 55px;
}


.card-list .card-item{
    color: rgb(0, 0, 0);
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);

}
.card-list .card-item .icon-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #a8d4d2;
    padding: 4px;
}
.card-list .card-item .descripcion {
    font-size: 1.15rem;
    color: #030303;
    font-weight: 500;
    margin: 14px 0 40px;
}
.card-list .card-item .message-button{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: black;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #cf5b5b;
    border: 1px solid transparent;
    transition: 0.2s ease;
}
.card-list .card-item .message-button:hover {
    background: rgba(110, 94, 94, 0.8);
    border: 1px solid #daff08;
    color: rgb(0, 0, 0);
}

.slider-wrapper .swiper-pagination-bullet{
    background: #000;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button{
    color: #000000;
    margin-top: -50px;
}
.slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
    transition: 0.2s ease;
}

.bold {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px; 
    background: rgb(255,246,174) no-repeat center;
    background: linear-gradient(90deg, rgba(255,246,174,1) 0%, rgba(255,170,248,1) 100%) no-repeat center;
  
}

.parrafo {
    width: 80%; 
    max-width: 600px;
    border: 1px solid #ccc; 
    border-radius: 15px;
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Historia, .Mision, .Vision {
    font-size: 30px; 
    margin: 0;
}

.text-historia, .text-mision, .text-vision {
    font-size: 20px;
    margin-top: 10px; 
}
.img-historia {
    height: 100%;
    width: 100%;
}
.body-productos {
    height: 100vh;
    width: 100%;
}

.secction-productos {
    background: rgb(255,246,174) no-repeat center;
    background: linear-gradient(90deg, rgba(255,246,174,1) 0%, rgba(255,170,248,1) 100%) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 101px);
    min-width: 50vw;
}
.lista .prod a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.lista .prod {
    list-style: none;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #000;
}
.lista {
    width: 100%;
    height: 100%;
    top: 40%;
    position: relative;
    font-size: 25px;
    text-align: center;

}
.lista .prod a:hover {
    background: #daff08;
    padding: 15px;

}

.footer {  
    position: absolute;
    bottom: 5%;
}


@media (max-width: 768px) {
    .slider-wrapper{
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }
   
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #bdadbb;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li.a:hover li a.active {
        background: none;
        
    }
    #check:checked ~ ul {
        left: 0;
    }

}

@media (max-width: 952px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
   
}

@media (max-width: 2000px) {
    .body{
        min-height: 100vh;
        min-width: 80vw;
    }

}



