* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor-formulario {
    width: 100%;
    height: calc(100vh - 101px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: #7fa7f8;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #fff;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #12cf35;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background-color: #2c2f35;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-heigth 0.5s;
    overflow: hidden;
}

input {
    width: 80%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

.input-field i {
    margin-left: 15px;
    color: green;
}

form p {
    color: #fff;
    text-align: left;
    font-size: 13px;
}

form p a {
    color: green;
    margin-left: 5px;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: #12cf35;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: baccground 1s;
}

.input-gropu {
    height: 250px;
}

.btn-field button.disable {
    background-color: #eaeaea;
    color: black;
}

